In [5]:
import pandas as pd
dfs = pd.read_excel('CompiledDatav4_fixeddata.xlsx', sheet_name="PassengerKilometresTravelled")
dfs.head()

,LOCATION,CountryName,INDICATOR,SUBJECT,MEASURE,CountryYear,TIME,PKT,GDP,RoadNetwork,...,A34,A39,A44,A49,A54,A59,A64,A69,A70,OilPricesGlobal
0,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1970,1970,104210.0,4.12611e+10,NaN,...,0.061849,0.057353,0.063364,0.061783,0.050962,0.047489,0.038918,0.030020,0.052272,NaN
1,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1971,1971,109610.0,4.51383e+10,NaN,...,0.062906,0.057573,0.061237,0.060697,0.051658,0.046900,0.039328,0.030441,0.056358,NaN
2,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1972,1972,116155.0,5.19544e+10,NaN,...,0.064079,0.057923,0.059331,0.059793,0.052454,0.046444,0.039818,0.030922,0.058032,NaN
3,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1973,1973,120295.0,6.3722e+10,NaN,...,0.065338,0.058373,0.057593,0.059030,0.053326,0.046090,0.040370,0.031446,0.057870,NaN
4,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1974,1974,127763.0,8.88091e+10,NaN,...,0.066634,0.058873,0.055963,0.058351,0.054233,0.045794,0.040950,0.031991,0.056700,NaN